
            <form>
                <table width="450px">
                    <tr>
                        <td>
                            <div for="first_name">First Name</div>
                        </td>
                        <td>
                            <input type="text" name="first_name" maxlength="20" size="30">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div for="last_name">Last Name</div>
                        </td>
                        <td>
                            <input type="text" name="last_name" maxlength="20" size="30">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div for="gender">Gender</div>
                        </td>
                        <td>
                            <select option="dropdown">
                                <option value="Male" selected>Male</option>
                                <option value="Female">Female</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div for="email">Email</div>
                        </td>
                        <td>
                            <input type="text" name="email" maxlength="30">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div for="phone">Contact no</div>
                        </td>
                        <td>
                            <input type="number" name="phone">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div for="address">Address</div>
                        </td>
                        <td>
                            <textarea name="address"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div for="username">Username</div>
                        </td>
                        <td>
                            <input type="text" name="username">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div for="password">Password</div>
                        </td>
                        <td>
                            <input type="password" name="password">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div for="userid">User ID</div>
                        </td>
                        <td>
                            <input type="text" name="userid">
                        </td>
                    </tr>
                </table>
            </form>
        